/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */

/*
    Targets payment method logos.
 */
img[src*="psrbsimplified"] {
    /*
        Using % values makes some images smaller than others for some odd
        reason, so we have to convert the % values to pixels.

        Currently set at 15% size.
    */
    width: 68px;
    height: 24px;
}

/*
    Targets credit payment method logo.
 */
img[src*="psrbsimplified"][src$="card.svg"] {
    /*
        This logo needs other measurements from the regular ones.
    */
    width: 24px;
    height: 19px;
    margin-right: 44px;
}

/*
    Fix styling of logotypes for payment methods.
 */
#checkout section.checkout-step .payment-options label {
    display: block !important;
    text-align: left;
}

#checkout section.checkout-step .payment-options label img {
    float: right;
}

.rb-pi {
    padding: 5px 0 30px 40px;
    margin-bottom: 30px;
    border-bottom: 1px dashed #ccc;
}

.rb-pi-row {
    display: flex;
}

.rb-pi-col {
    width: 50%;
    display: flex;
}

.rb-read-more {
    width: 100%;
    text-align: left;
}

.rb-read-more .psrbcore-read-more {
    margin: 0;
}

.psrbsimplified-method-field-error {
    border-color: red;
}

.psrbsimplified-method-field-error-message {
    color: red;
}

.psrbsimplified-method-dt-label {
  font-weight: normal;
  padding-top:0.5rem;
}

@media screen and (min-width: 768px) {
  .psrbsimplified-method-dd-input-wrapper {
    max-width: 80%;
  }
}
